<section>
<div class="row topbar-content">
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
        <h2><span ui-sref="groups.index">Group Overview</span> > {{groupName}}</h2>
        <!--<button ng-click="ThingsCreate()" class="btn btn-add btn-primary position">​
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>-->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-3 col-lg-offset-4">
        <div class="input-group">
            <input type="text" class="ais-searchbar" placeholder="Search Things name" ng-model="search.thingName">
            <!--<span class="input-group-btn">
                <button class="btn  ais-btnsearch" type="button">Search</button>
            </span>-->
        </div>
    </div>
    
</div>
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 things-box" ng-repeat='things in thingsobj | filter:search'>
    <div class="box-size ibox float-e-margins things-wrapper" >
        <div class="remove-group-btn" ng-click="ThingsDelete(things._id)"><span >X</span></div>
        <div class="things-content" ng-click="ThingsEdit(things._id)">
            <!--<div class="things-header" >
                <h2 id="thingName" class="ng-binding">{{things.thingName}}</h2>
            </div>
            <div class="things-des">
                <h4>Description : {{things.thingDesc}}</h4>
                <h4>ReceiveToken : {{things.receiveTokenActive}}</h4>
                <h4>SendToken : {{things.sendTokenActive}}</h4>
            </div>-->
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 things-box" >
    <button ui-sref="groups.add" class="btn btn-default box-size ibox float-e-margins things-wrapper" >
        <div class="things-header" >
            <center>
                <h2 id="thingName" class="createthings ng-binding">
                    Add Thing to Group
                </h2>
                <span class="sign-addthings glyphicon glyphicon-plus" aria-hidden="true"></span>
            </center> 
        </div>
    </button>
</div>

</div>
</section>
