<section class="content-dashboard">
<div class="cover-wrapper-db">
    <h1>สถาบันราชานุกุล</h1>
    <h2>{{dashboardData.dashboardName}}</h2>&nbsp;&nbsp;&nbsp;
    <a class="dropdown-toggle" ng-click="openEditDb()" role="button">
        <b class="glyphicon glyphicon-pencil ic-edit"></b>
    </a>
    <h3>{{dashboardData.dashboardDesc}}</h3>
</div>
<!-- <div ng-hide="hidedm" class="warp-lg top-db">
    <div class="topcontent-left">
        <h2 class="nameofpage">{{dashboardData.dashboardName}}</h2>&nbsp;&nbsp;&nbsp;
        <a class="dropdown-toggle" ng-click="openEditDb()" role="button">
            <b class="glyphicon glyphicon-pencil ic-edit"></b>
        </a>
    </div>
    <div class="topcontent-right">
        <button ng-click="createWidget()" class="btn btn-cre position">​
        <img src="/modules/core/client/img/ic-create-16-px@3x.png" alt="" width="16px" height="16px">&nbsp;Create Widget
    </button>
    </div>
</div>
<div ng-hide="hidedm" class="warp-mb top-db">
    <div class="col-xs-6 col-sm-6">
        <h2 class="nameofpage">{{dashboardData.dashboardName}}</h2>&nbsp;&nbsp;&nbsp;
    </div>
    <div class="col-xs-3 col-sm-2">
        <a class="dropdown-toggle" ng-click="openEditDb()" role="button">
            <b class="glyphicon glyphicon-pencil ic-edit"></b>
        </a>
    </div>
    <div class="col-xs-3 col-sm-4">
        <button ng-click="createWidget()" class="btn btn-cre position" style="">
            <img style="margin-left:-5px;"src="/modules/core/client/img/ic-create-16-px@3x.png" alt="" width="24px" height="24px">​
            <span class="sm-hide">&nbsp;Create Widget</span>
        </button>
    </div>
</div> -->
<div class="action-wrapper-db row" style="margin:0px;">
    <div class="col-lg-3 col-md-3 col-sm3 col-xs-6" style="border-right: 1px solid #ffffff;">
        <div style="display: none;">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <img src="/modules/core/client/img/emo-1.png">
            </div>
            <div class="col-lg-7">
                <h2 class="ac-db">ระดับความสุข</h2>
                <h1 class="ac-db">แจ่มใส</h1>
            </div>
        </div>
        <div style="display:none;">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <img src="/modules/core/client/img/emo-2.png">
            </div>
            <div class="col-lg-7">
                <h2 class="ac-db">ระดับความสุข</h2>
                <h1 class="ac-db"> ใจคอไม่ดี</h1>
            </div>
        </div>
        <div style="display: ;">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <img src="/modules/core/client/img/emo-3.png">
            </div>
            <div class="col-lg-7">
                <h2 class="ac-db">ระดับความสุข</h2>
                <h1 class="ac-db"> มีน้ำโห </h1>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm5 col-xs-6">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <img src="/modules/core/client/img/group-5.png">
        </div>
        <div class="col-lg-6">
            <h2 class="ac-db">Sunny, Partly Cloudy</h2>
            <div class="col-lg-4">
                <h1 class="ac-db">35&nbsp;<span style="font-size: 28px;">o</span></h1>
            </div>
            <div class="col-lg-8">
                <h3 class="ac-db">Sunday, 10:15 am</h1>
                <h4 class="ac-db">July 14, 2018</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm3 col-xs-12">
        <button ng-click="createWidget()" class="btn crewidget position">​
            <img src="/modules/core/client/img/fill-4.png" alt="" width="16px" height="16px">&nbsp;Create Widget
        </button>
    </div>
</div>
<div class="container-fluid contentinpage" style="margin-top:15px;">
    <div id="loading" class="loader"></div>
    <ul ui-sortable="sortableOptions" ng-model="dashboardShowList" class="list-unstyled" style="overflow-y:hidden;width:100%;padding-left: 0px;">
        <li ng-init="load()" ng-repeat="data in dashboardShowList | orderBy: 'order'" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="dashboard-wrapper">
                <ul>
                    <li class="dropdown remove-group-btn" uib-dropdown>
                        <a class="dropdown-toggle" uib-dropdown-toggle role="button">
                            <b class="glyphicon glyphicon-option-horizontal"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="editWidget(data)">Edit Widget</a></li>
                            <li><a ng-click="deleteWidget(data)">Delete</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="things-content">
                    <div ng-if="data.type==='temperature'">
                        <div class="things-header">
                            <h3 id="thingName" class="name-widget ng-binding"><img class="ic-widget"  src="/modules/core/client/img/ic-lamp.svg" alt="">{{data.widgetName}}</h3>
                        </div>
                        <center>
                            <div ng-if="data.datavalue[data.datavalue.length-1]===undefined">
                                <p style="margin-top:60px;">Something Wrong</p>
                            </div>
                            <div ng-if="data.datavalue[data.datavalue.length-1]!==undefined" >
                                <img src="/modules/core/client/img/group-33.png">
                                <h3 class="widget-value">{{data.datavalue[data.datavalue.length-1]}} <sup>o</sup></h3>
                                <span class="widget-value">Celsius  0-100</span>
                            </div>
                        </center>
                    </div>
                    <div ng-if="data.type==='humidity'">
                        <div class="things-header">
                            <h3 id="thingName" class="name-widget ng-binding"><img class="ic-widget"  src="/modules/core/client/img/ic-lamp.svg" alt="">{{data.widgetName}}</h3>
                        </div>
                        <center>
                            <div ng-if="data.datavalue[data.datavalue.length-1]===undefined">
                                <p style="margin-top:60px;">Something Wrong</p>
                            </div>
                            <div ng-if="data.datavalue[data.datavalue.length-1]!==undefined" >
                                <img src="/modules/core/client/img/group-32.png">
                                <h3 class="widget-value" style="color:#39c480;">{{data.datavalue[data.datavalue.length-1]}} <span style="color:#39c480;">%</span></h3>
                                <span class="widget-value">Humidity  0-100</span>
                            </div>
                        </center>
                    </div>
                    <div ng-if="data.type==='gauge'">
                        <div class="things-header">
                            <h3 id="thingName" class="name-widget ng-binding"><img class="ic-widget"  src="/modules/core/client/img/ic-gauge.svg" alt="">{{data.widgetName}}</h3>
                        </div>
                        <center>
                            <div ng-if="data.datavalue[data.datavalue.length-1]===undefined">
                                <p style="margin-top:60px;">Something Wrong</p>
                            </div>
                            <div ng-if="data.datavalue[data.datavalue.length-1]!==undefined" >
                                <ng-gauge size="150" type="semi" thick="10" min="data.settings.minValue" max="data.settings.maxValue" value="data.datavalue[data.datavalue.length-1]" cap="round" label="{{data.settings.minValue+' - '+data.settings.maxValue}}" append="{{data.settings.unit}}"
                                    foreground-color="#b2d234" background-color="#000" class="ng-guage">
                                </ng-gauge>
                            </div>
                        </center>
                    </div>
                    <div ng-if="data.type==='sparkline'">
                        <div class="things-header">
                            <h3 id="thingName" class="name-widget ng-binding"><img class="ic-widget" src="/modules/core/client/img/ic-linechart.svg" alt="">{{data.widgetName}}</h3>
                        </div>
                        <div>
                            <canvas class="chart chart-line" chart-colors="colors" chart-data="[data.datavalue]" chart-labels="data.datalabel" chart-options="options">
                            </canvas>
                        </div>
                    </div>
                    <div ng-if="data.type==='map'">
                        <div class="things-header">
                            <h3 id="thingName" class="name-widget ng-binding"><img class="ic-widget"  src="/modules/core/client/img/ic-map.svg" alt="">{{data.widgetName}}</h3>
                        </div>
                        <div id="{{data._id}}"></div>                            
                        <ng-map style="height:160px!important" id="map" zoom="11" center="{{data.datavalue | convertmapdata}}">
                            <marker position="{{data.datavalue | convertmapdata}}"></marker>
                        </ng-map>
                        <!-- <ng-map style="height:160px!important" id="map" zoom="11">
                            <marker></marker>
                        </ng-map> -->
                    </div>
                    <div ng-if="data.type==='indicatorlight'">
                        <div class="things-header">
                            <h3 id="thingName" class="name-widget ng-binding"><img class="ic-widget"  src="/modules/core/client/img/ic-lamp.svg" alt="">{{data.widgetName}}</h3>
                        </div>
                        <br>
                        <center>
                            <div ng-switch="data.datavalue[data.datavalue.length-1]">
                                <div ng-switch-when="1">
                                    <div class="indicator-light on"></div>
                                    <h2>{{data.settings.onText}}</h2>
                                </div>
                                <div ng-switch-when="0">
                                    <div class="indicator-light off"></div>
                                    <h2>{{data.settings.offText}}</h2>
                                </div>
                                <div ng-switch-default>
                                    <p>Something Wrong</p>
                                    <p>{{data.datavalue[0]}}</p>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div ng-if="data.type==='toggle'">
                        <div class="things-header">
                            <h3 id="thingName" class="name-widget ng-binding"><img class="ic-widget"  src="/modules/core/client/img/ic-switch.svg" alt="">{{data.widgetName}}</h3>
                        </div>
                        <br>
                        <center>
                            <div class="wrapper-toggle-widget" ng-switch="checkType(data.datavalue[data.datavalue.length-1])">
                                <label ng-switch-when="number" ng-switch="data.datavalue[data.datavalue.length-1]" class="toggle-widget">
                                    <input  ng-switch-when="1" id="{{data.things.sendToken}}" ng-init="data.selected = true" ng-model="data.selected" type="checkbox" ng-click="toggleClick(data)">
                                    <input ng-switch-when="0" id="{{data.things.sendToken}}" ng-init="data.selected = false" ng-model="data.selected" type="checkbox" ng-click="toggleClick(data)">
                                    <input ng-switch-default id="{{data.things.sendToken}}" ng-init="data.selected = true"  ng-model="data.selected" type="checkbox" ng-click="toggleClick(data)">
                                    <span id="{{data.things.sendToken}}" class="slider round"></span>
                                </label>
                                <label ng-switch-when="string" ng-switch="data.datavalue[data.datavalue.length-1]" class="toggle-widget">
                                    <input  ng-switch-when="'1'" id="{{data.things.sendToken}}" ng-init="data.selected = true" ng-model="data.selected" type="checkbox" ng-click="toggleClick(data)">
                                    <input ng-switch-when="'0'" id="{{data.things.sendToken}}" ng-init="data.selected = false" ng-model="data.selected" type="checkbox" ng-click="toggleClick(data)">
                                    <input ng-switch-default id="{{data.things.sendToken}}" ng-init="data.selected = true"  ng-model="data.selected" type="checkbox" ng-click="toggleClick(data)">
                                    <span id="{{data.things.sendToken}}" class="slider round"></span>
                                </label>
                                <label ng-switch-default ng-switch="data.datavalue[data.datavalue.length-1]" class="toggle-widget">
                                        <input  ng-switch-when="'1'" id="{{data.things.sendToken}}" ng-init="data.selected = true" ng-model="data.selected" type="checkbox" ng-click="toggleClick(data)">
                                        <input ng-switch-when="'0'" id="{{data.things.sendToken}}" ng-init="data.selected = false" ng-model="data.selected" type="checkbox" ng-click="toggleClick(data)">
                                        <input ng-switch-default id="{{data.things.sendToken}}" ng-init="data.selected = true"  ng-model="data.selected" type="checkbox" ng-click="toggleClick(data)">
                                        <span id="{{data.things.sendToken}}" class="slider round"></span>
                                </label>
                                <h2 ng-if="data.selected">{{data.settings.onText}}</h2>
                                <h2 ng-if="!data.selected">{{data.settings.offText}}</h2>
                            </div>
                        </center>
                    </div>
                    <div ng-if="data.type==='battery'">
                        <div class="things-header">
                            <h3 id="thingName" class="name-widget ng-binding"><img class="ic-widget"  src="/modules/core/client/img/ic-battery.svg" alt="">{{data.widgetName}}</h3>
                        </div>
                        <br>
                        <center>
                            <div class="wrapper-batter-widget">
                                <div ng-if="data.datavalue[data.datavalue.length-1] == 0">
                                    <img src="/modules/core/client/img/ic-battery-0-44-px.svg" alt="">
                                    <h2>{{data.datavalue[data.datavalue.length-1]}} %</h2>
                                </div>
                                <div ng-if="data.datavalue[data.datavalue.length-1] > 0 && data.datavalue[data.datavalue.length-1] < 20">
                                    <img src="/modules/core/client/img/ic-battery-20-44-px.svg" alt="">
                                    <h2>{{data.datavalue[data.datavalue.length-1]}} %</h2>
                                </div>
                                <div ng-if="data.datavalue[data.datavalue.length-1] > 20 && data.datavalue[data.datavalue.length-1] < 40">
                                    <img src="/modules/core/client/img/ic-battery-40-44-px.svg" alt="">
                                    <h2>{{data.datavalue[data.datavalue.length-1]}} %</h2>
                                </div>
                                <div ng-if="data.datavalue[data.datavalue.length-1] > 40 && data.datavalue[data.datavalue.length-1] < 60">
                                    <img src="/modules/core/client/img/ic-battery-60-44-px.svg" alt="">
                                    <h2>{{data.datavalue[data.datavalue.length-1]}} %</h2>
                                </div>
                                <div ng-if="data.datavalue[data.datavalue.length-1] > 60 && data.datavalue[data.datavalue.length-1] < 80">
                                    <img src="/modules/core/client/img/ic-battery-80-44-px.svg" alt="">
                                    <h2>{{data.datavalue[data.datavalue.length-1]}} %</h2>
                                </div>
                                <div ng-if="data.datavalue[data.datavalue.length-1] > 80">
                                    <img src="/modules/core/client/img/ic-battery-100-44-px.svg" alt="">
                                    <h2>{{data.datavalue[data.datavalue.length-1]}} %</h2>
                                </div>
                                <div ng-if="!data.datavalue[data.datavalue.length-1]">
                                    <h2>Something went wrong !</h2>
                                    <h2>{{data.datavalue[data.datavalue.length-1]}}</h2>
                                </div>
                                <div ng-if="data.datavalue[data.datavalue.length-1] < 0">
                                    <img src="/modules/core/client/img/ic-battery-0-44-px.svg" alt="">
                                    <h2>{{data.datavalue[data.datavalue.length-1]}} %</h2>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div ng-if="data.type==='video'">
                        <div class="things-header">
                            <h3 id="thingName" class="name-widget ng-binding"><img class="ic-widget"  src="/modules/core/client/img/live-1.png" alt="">{{data.widgetName}}</h3>
                        </div>
                        <br>
                        <center>
                            <div class="wrapper-toggle-widget">
                                <!-- <video ng-if="videoSrc" width="100%" controls>
                                    <source src="{{data.settings.url  | trustUrl}}" type="application/x-mpegURL">
                                </video> -->
                                <video id="my_video_1" class="video-js vjs-default-skin" controls data-setup='{}'>
                                    <source src="{{data.settings.url  | trustUrl}}" type="application/x-mpegURL">
                                </video>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
</section>