<div class="navbar navbar-default" >
  <div ng-controller="HeaderController as vm">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> 
    <div class="pull-right navbar-toggle search-ico" ng-click="vm.onClickSearch()">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    </div>
    <nav class="collapse navbar-collapse" uib-collapse="!vm.isCollapsed" role="navigation">
      <ul class="nav navbar-nav navbar-nav-left" ng-if="vm.menu.shouldRender(vm.authentication.user);">
        <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type"
          ng-class="{ dropdown: item.type === 'dropdown',
          active: vm.state.name.includes('inboxes')&&item.title === 'Inbox'}"
          ui-sref-active="active"  class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
          <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
          <ul ng-switch-when="dropdown" class="dropdown-menu">
            <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
              <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
            </li>
          </ul>
          <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
        <li class="switch-chat">
          <form>
            <switch name="chatStatus" ng-model="vm.chatStatus" on="Chat" off="Chat" class="green wide" ng-change="vm.changeChatStatus"></switch>
          </form>
        </li>
        <li class="dropdown container-profile-image" uib-dropdown>
          <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
            <!--<img ng-src="{{vm.authentication.user.imageProfile}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image"/>-->
            <img ngf-src="vm.fileSelected ? picFile : '/' + vm.user.profileImageURL" class="header-profile-image"/>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
              <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
            </li>
            <!--li class="divider"></li-->
            <!--<li>
              <a ng-click="profile()" target="_self">Edit Profile</a>
            </li>-->
            <li>
              <a ng-click="signout()" style="cursor: pointer;"  target="_self">Sign out</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>