<section class="row">
  <div class="warp-signin-mobile">
      <div class="mb-bg-signin">
          <div class="mb-box-signin">
            <div class="forgot-content">
              <h3 class="col-md-12 text-center forgot-head">Restore your password</h3>
              <p class="forgot-p text-center">Enter your account username.</p>
              <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
                <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
                  <fieldset>
                    <div class="form-group" show-errors>
                      <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="Username" lowercase required autofocus>
                      <div ng-messages="vm.forgotPasswordForm.username.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Enter a username.</p>
                      </div>
                    </div>
                    <div class="text-center form-group">
                      <button type="submit" class="btn btn-signin">Submit</button>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
        </div>
      </div>
  </div>
  <div class="warp-signin-lg">
    <div class="forgot-wrapper">
      <div class="forgot-content">
        <h3 class="col-md-12 text-center forgot-head">Restore your password</h3>
        <p class="forgot-p text-center">Enter your account username.</p>
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
          <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
            <fieldset>
              <div class="form-group" show-errors>
                <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="Username" lowercase required autofocus>
                <div ng-messages="vm.forgotPasswordForm.username.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Enter a username.</p>
                </div>
              </div>
              <div class="text-center form-group">
                <button type="submit" class="btn btn-signin">Submit</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
