<section style="margin-top:120px;">
    <h1 style="color:#fff;">Magellan Overview</h1>
    <div class="contentinpage" style="background-color: #1b1c1b;">
        <div class="row dac-expand dac-hero">  
            <div class="wrap">
                <div class="text-dev col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                    <h1>Magellan Developer Portal</h1>
                    <div class="warp-mb col-xs-12 col-sm-12 col-md-6 col-lg-6 dac-hero-figure">
                        <img src="/modules/userguides/client/img/nb_explain.png" alt="NB-IoT Big Picture" width="100%" />
                    </div>
                    <p class="description">
                        Magellan is a platform which guide you to use NB-IoT with your IoTs product including building it from scratch. You'll find this is the most very easy to use 
                        IoT Platform and help you start as quickly as possible, as well as support if you get stuck. Let's jump right in!
                    </p>
                    <a class="more" href="https://www.arduino.cc/en/Main/Software" target="blank">
                        <span class="dac-sprite dac-chevron-right-white"></span>
                        > Download Arduino IDE
                    </a>
                    <a class="more" href="https://drive.google.com/file/d/15YtK99u76LTTgprKNaZhHXKpTtuTyYkb/view" target="blank">
                        <span class="dac-sprite dac-chevron-right-white"></span>
                        > Download Library
                    </a>
                    <a class="more" href="/userguide-platform" target="blank">
                        <span class="dac-sprite dac-chevron-right-white"></span>
                        > User Guide
                    </a>
                </div>
                <div class="warp-lg col-xs-12 col-sm-12 col-md-6 col-lg-6 dac-hero-figure">
                    <img src="/modules/userguides/client/img/nb_explain.png" alt="NB-IoT Big Picture" width="100%" />
                </div>
            </div>   
        </div>
        <div class="dac-section dac-expand dac-hero" id="studio">
            <div class="wrap" style="max-width:960px;overflow:auto">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-dev">
                    <h1>NB-IoT Shield Specification</h1>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ovv-icon-block">
                        <div class="col-lg-12 col-md-12"  style="padding:0px;">
                            <img src="/modules/userguides/client/img/ic-cpu-70-px@3x.png" class="ovv-ic"/>
                        </div>
                        <div class="col-xs-12 font-header" style="padding:0px;">Communication Module:</div><br/>
                        <div class="col-xs-12 font-description" style="padding:0px;">Quectel BC95</div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ovv-icon-block">
                        <div class="col-lg-12 col-md-12"  style="padding:0px;">
                            <img src="/modules/userguides/client/img/ic-sim-70-px@3x.png" class="ovv-ic"/>
                        </div>
                        <div class="col-xs-12 font-header" style="padding:0px;">SIM:</div><br/>
                        <div class="col-xs-12 font-description" style="padding:0px;">eSIM on-board</div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ovv-icon-block">
                        <div class="col-lg-12 col-md-12"  style="padding:0px;">
                            <img src="/modules/userguides/client/img/ic-network-70-px@3x.png" class="ovv-ic"/>
                        </div>
                        <div class="col-xs-12 font-header" style="padding:0px;">Network Technology:</div><br/>
                        <div class="col-xs-12  font-description" style="padding:0px;">LTE Cat. NB1 [NB-IoT]</div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ovv-icon-block">
                        <div class="col-lg-12 col-md-12"  style="padding:0px;">
                            <img src="/modules/userguides/client/img/ic-arduino-70-px@3x.png" class="ovv-ic"/>
                        </div>
                        <div class="col-xs-12 font-header" style="padding:0px;">Arduino:</div><br/>
                        <div class="col-xs-12 font-description" style="padding:0px;">Arduino UNO R3 Pinout Compatible</div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ovv-icon-block">
                        <div class="col-lg-12 col-md-12"  style="padding:0px;">
                            <img src="/modules/userguides/client/img/ic-freq-70-px@3x.png" class="ovv-ic"/>
                        </div>
                        <div class="col-xs-12 font-header" style="padding:0px;">Frequency:</div><br/>
                        <div class="col-xs-12 font-description" style="padding:0px;">Band 8 [900MHz]</div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ovv-icon-block">
                        <div class="col-lg-12 col-md-12"  style="padding:0px;">
                            <img src="/modules/userguides/client/img/ic-book-70-px@3x.png" class="ovv-ic"/>
                        </div>
                        <div class="col-xs-12 font-header" style="padding:0px;">SDK:</div><br/>
                        <div class="col-xs-12 font-description"  style="padding:0px;">Arduino Library</div>
                    </div>
            
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ovv-icon-block">
                        <div class="col-lg-12 col-md-12"  style="padding:0px;">
                            <img src="/modules/userguides/client/img/ic-data-trans-70-px@3x.png" class="ovv-ic"/>
                        </div>
                        <div class="col-xs-12 font-header" style="padding:0px;letter-spacing: -0.5px;">Data transmission: [Single tone]</div><br/>
                        <div class="col-xs-12 font-description" style="padding:0px;">• Downlink 24 kbps</div><br/>
                        <div class="col-xs-12 font-description" style="padding:0px;">• Uplink 15.625 kbps</div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ovv-icon-block">
                        <div class="col-lg-12 col-md-12"  style="padding:0px;">
                            <img src="/modules/userguides/client/img/ic-commu-70-px@3x.png" class="ovv-ic"/>
                        </div>
                        <div class="col-xs-12 font-header" style="padding:0px;">Serial Communication [UART]:</div><br/>
                        <uib-accordion class="userguide">
                        <div uib-accordion-group is-open="status.open" class="col-xs-12 col-sm-12">
                            <uib-accordion-heading>
                                <div class="font-description" style="padding:0px;">• Hardware Serial&nbsp;&nbsp;
                                    <i class="glyphicon" ng-class="{'arrow-down': status.open, 'arrow-right': !status.open}"></i>
                                </div>
                            </uib-accordion-heading>
                                <p>RX : PIN0</p>
                                <p>TX : PIN1</p>
                        </div uib-accordion-group>
                        <div uib-accordion-group is-open="statuss.open" class="col-xs-12 col-sm-12">
                            <uib-accordion-heading>
                                <div class="font-description" style="padding:0px;">• Software Serial&nbsp;&nbsp;
                                    <i class="glyphicon" ng-class="{'arrow-down': statuss.open, 'arrow-right': !statuss.open}"></i>
                                </div>
                            </uib-accordion-heading>
                                <p>RX : PIN8</p>
                                <p>TX : PIN9</p>
                        </div uib-accordion-group>
                        </uib-accordion>
                    </div>
    
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ovv-icon-block">
                        <div class="col-lg-12 col-md-12"  style="padding:0px;">
                            <img src="/modules/userguides/client/img/ic-stack-70-px@3x.png" class="ovv-ic"/>
                        </div>
                        <div class="col-xs-12 font-header" style="padding:0px;">Protocol stack</div><br/>
                        <div class="col-xs-12 font-description" style="padding:0px;">• UDP</div><br/>
                        <div class="col-xs-12 font-description" style="padding:0px;">• CoAP</div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ovv-icon-block">
                        <div class="col-lg-12 col-md-12"  style="padding:0px;">
                            <img src="/modules/userguides/client/img/ic-cer-70-px@3x.png" class="ovv-ic"/>
                        </div>
                        <div class="col-xs-12 font-header" style="padding:0px;">NB-Iot Module Certification</div><br/>
                        <div class="col-xs-12 font-description" style="padding:0px;">NBTC, CE, CCC, SRRC,</div><br/>
                        <div class="col-xs-12 font-description" style="padding:0px;">NAL, GCF</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <center>
                        <img class="dac-hero-image" style="max-width: 360px; padding: 25px 50px 0;width:100%" src="/modules/userguides/client/img/pic-arduino.png" > 
                    </center>          
                </div>
            </div>
        </div>

        <!-- <div class="dac-section dac-light">
            <div class="wrap">
                <h1 class="dac-section-title">Magellan User Manaul</h1>
                <div class="dac-section-subtitle">
                    The Magellan User Manual helps you learn how to use Magellan Platform and its associated services. You can read it from start to finish, or use it as a reference.                  
                </div>
                <div style="display: inline-block">
                    <div style="width: 220px; float: left; margin: 0 15px 0 0; display: inline;">
                    <a href="/userguide-platform#crething"><img src="/modules/userguides/client/img/tutorial00_library.jpg"></a>
                    <h3><a href="/userguide-platform#crething">Create Thing</a></h3>
                    <p>A guide to create a thing proxy</p>
                </div>   
                <div style="width: 220px; float: left; margin: 0 15px 0 0; display: inline;">
                    <a href="/userguide-platform#emkey"><img src="/modules/userguides/client/img/tutorial01_library.jpg"></a>
                    <h3><a href="/userguide-platform#emkey">Embeded The Key</a></h3>
                    <p>A complete introduction to install Magellan SDK</p>
                </div>  
                <div style="width: 220px; float: left; margin: 0 15px 0 0; display: inline;">
                    <a href="/userguide-platform#credash"><img src="/modules/userguides/client/img/tutorial02_library.jpg"></a>
                    <h3><a href="/userguide-platform#credash">Create Dashboard</a></h3>
                    <p>A place for displaying thing's data</p>
                </div> 
                <div style="width: 220px; float: left; margin: 0 15px 0 0; display: inline;">
                    <a href="/userguide-platform#crewid"><img src="/modules/userguides/client/img/tutorial03_library.jpg"></a>
                    <h3><a href="/userguide-platform#crewid">Create Widget</a></h3>
                    <p>A type of data shown or a controller for a thing</p>
                </div>
                <div style="width: 220px; float: left; margin: 0 15px 0 0; display: inline;">
                    <a href="/userguide-platform#cregroup"><img src="/modules/userguides/client/img/tutorial04_library.jpg"></a>
                    <h3><a href="/userguide-platform#cregroup">Create Group</a></h3>
                    <p>A page for displaying things in a group</p>
                </div>  
                </div>
            </div>
        </div> -->
        
        <section class="dac-section dac-gray">
            <div class="wrap">
            <div class="cols"><div class="col-10of12 col-push-1of12">
            <h1 class="dac-section-title">Our IoT Solution</h1>
            <div class="dac-section-subtitle">
                Our IoT Solutions Enable You To Connect Smart Things with NB-IoT to Create Applications with our API, and Solve your toughest business challenges with IoT capabilities
            </div>
            <div style="display: inline-block">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="max-width: 220px;margin: 0 15px 0 0; display: inline;">
                    <img class="img-dev" src="/modules/userguides/client/img/smart_farm_display.jpg">
                    <h3 style="cursor:auto;" class="ovw-more">> Smart Farming</h3>
                </div> 
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="max-width: 220px; margin: 0 15px 0 0; display: inline;">
                    <img class="img-dev" src="/modules/userguides/client/img/smart_city_display.jpg">
                    <h3 style="cursor:auto;" class="ovw-more">> Smart City</h3>
                </div> 
                <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="max-width: 220px;margin: 0 15px 0 0; display: inline;">
                    <img class="img-dev" src="/modules/userguides/client/img/smart_home_display.jpg">
                    <h3 style="cursor:auto;" class="ovw-more">> Smart Home</h3>
                </div> -->
            </div>
            </div>
            </div>
        </section>

        
    
        <footer class="devsite-footer-promos">
            <nav class="devsite-full-site-width">
            <ul class="devsite-footer-promos-list">
                <li class="devsite-footer-promo">
                <a href="/contact">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img class="devsite-footer-promo-icon" src="/modules/userguides/client/img/gmail_icon.png">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="devsite-footer-promo-des">&nbsp;Contact us</div>
                    <div class="devsite-footer-promo-des">&nbsp;magellan@magellan.io</div>
                </div>
                </a>
                
                </li>
            </ul>
            </nav>
        </footer>
    </div>
</section>
    