.vxgplayer{
    margin: 0px!important
}
.vxgplayer-takescreenshot, .vxgplayer-controls-zoom{
    display: none!important;
}
/* @media screen and (min-width: 1080px) {
    .vxgplayer{
        max-height: 119px!important;
    }
}
@media screen and (min-width: 1440px) {
    .vxgplayer{
        max-height: 130px!important;
    }
} */ 